In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
data=pd.read_csv("C:/Users/PC-LENOVO/Documents/Machine Learning/new sir/obesity.csv")
data.tail()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
53387,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,Asian,RACE,RACEASN
53388,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,Hawaiian/Pacific Islander,RACE,RACEHPI
53389,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,American Indian/Alaska Native,RACE,RACENAA
53390,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,2 or more races,RACE,RACE2PLUS
53391,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,Other,RACE,RACEOTH

In [3]:
data.shape

(53392, 33)

In [4]:
data.isnull().sum()/len(data) * 100

YearStart                       0.000000
YearEnd                         0.000000
LocationAbbr                    0.000000
LocationDesc                    0.000000
Datasource                      0.000000
Class                           0.000000
Topic                           0.000000
Question                        0.000000
Data_Value_Unit               100.000000
Data_Value_Type                 0.000000
Data_Value                      9.450854
Data_Value_Alt                  9.450854
Data_Value_Footnote_Symbol     90.549146
Data_Value_Footnote            90.549146
Low_Confidence_Limit            9.450854
High_Confidence_Limit           9.450854
Sample_Size                     9.450854
Total                          96.428304
Age(years)                     78.577315
Education                      85.713215
Gender                         92.856608
Income                         74.998127
Race/Ethnicity                 71.426431
GeoLocation                     1.887923
ClassID                         0.000000
TopicID                         0.000000
QuestionID                      0.000000
DataValueTypeID                 0.000000
LocationID                      0.000000
StratificationCategory1         0.000000
Stratification1                 0.000000
StratificationCategoryId1       0.000000
StratificationID1               0.000000
dtype: float64

#### here the missing data is given in percentage and hence we can remove unnecessary data.

### Data Preprocessing

##### Missing Value imputation

In [5]:
data.drop(['LocationAbbr','Data_Value_Unit','Data_Value_Footnote_Symbol','Data_Value_Footnote','Total','Age(years)','Education','Gender','Income','Race/Ethnicity'] , axis=1, inplace=True)
data

,YearStart,YearEnd,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Type,Data_Value,Data_Value_Alt,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,Value,32.0,32.0,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Total,Total,OVR,OVERALL
1,2011,2011,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,Value,32.3,32.3,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Male,GEN,MALE
2,2011,2011,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,Value,31.8,31.8,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Female,GEN,FEMALE
3,2011,2011,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,Value,33.6,33.6,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,Less than high school,EDU,EDUHS
4,2011,2011,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,Value,32.8,32.8,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,High school graduate,EDU,EDUHSGRAD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53387,2016,2016,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,Value,NaN,NaN,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,Asian,RACE,RACEASN
53388,2016,2016,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,Value,NaN,NaN,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,Hawaiian/Pacific Islander,RACE,RACEHPI
53389,2016,2016,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,Value,NaN,NaN,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,American Indian/Alaska Native,RACE,RACENAA
53390,2016,2016,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,Value,NaN,NaN,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,2 or more races,RACE,RACE2PLUS
53391,2016,2016,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,Value,NaN,NaN,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,Other,RACE,RACEOTH

In [6]:
data.dropna(how='any', inplace=True)
data.head()

,YearStart,YearEnd,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Type,Data_Value,Data_Value_Alt,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,Value,32.0,32.0,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Total,Total,OVR,OVERALL
1,2011,2011,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,Value,32.3,32.3,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Male,GEN,MALE
2,2011,2011,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,Value,31.8,31.8,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Female,GEN,FEMALE
3,2011,2011,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,Value,33.6,33.6,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,Less than high school,EDU,EDUHS
4,2011,2011,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,Value,32.8,32.8,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,High school graduate,EDU,EDUHSGRAD

In [7]:
data.shape

(47338, 23)

In [8]:
data.isnull().sum()/len(data) * 100

YearStart                    0.0
YearEnd                      0.0
LocationDesc                 0.0
Datasource                   0.0
Class                        0.0
Topic                        0.0
Question                     0.0
Data_Value_Type              0.0
Data_Value                   0.0
Data_Value_Alt               0.0
Low_Confidence_Limit         0.0
High_Confidence_Limit        0.0
Sample_Size                  0.0
GeoLocation                  0.0
ClassID                      0.0
TopicID                      0.0
QuestionID                   0.0
DataValueTypeID              0.0
LocationID                   0.0
StratificationCategory1      0.0
Stratification1              0.0
StratificationCategoryId1    0.0
StratificationID1            0.0
dtype: float64

#### Encoding

In [9]:
data1=pd.get_dummies(data[['LocationDesc','DataValueTypeID','Datasource','Class','Topic','Question','ClassID','TopicID','Data_Value_Type','StratificationCategory1','Stratification1','StratificationCategoryId1','StratificationID1']], drop_first=True)
data1

,LocationDesc_Alaska,LocationDesc_Arizona,LocationDesc_Arkansas,LocationDesc_California,LocationDesc_Colorado,LocationDesc_Connecticut,LocationDesc_Delaware,LocationDesc_District of Columbia,LocationDesc_Florida,LocationDesc_Georgia,...,StratificationID1_MALE,StratificationID1_OVERALL,StratificationID1_RACE2PLUS,StratificationID1_RACEASN,StratificationID1_RACEBLK,StratificationID1_RACEHIS,StratificationID1_RACEHPI,StratificationID1_RACENAA,StratificationID1_RACEOTH,StratificationID1_RACEWHT
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53382,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53383,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53384,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
53385,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
53386,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [10]:
data2=pd.concat([data,data1], axis=1)
data2

,YearStart,YearEnd,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Type,Data_Value,Data_Value_Alt,...,StratificationID1_MALE,StratificationID1_OVERALL,StratificationID1_RACE2PLUS,StratificationID1_RACEASN,StratificationID1_RACEBLK,StratificationID1_RACEHIS,StratificationID1_RACEHPI,StratificationID1_RACENAA,StratificationID1_RACEOTH,StratificationID1_RACEWHT
0,2011,2011,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,Value,32.0,32.0,...,0,1,0,0,0,0,0,0,0,0
1,2011,2011,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,Value,32.3,32.3,...,1,0,0,0,0,0,0,0,0,0
2,2011,2011,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,Value,31.8,31.8,...,0,0,0,0,0,0,0,0,0,0
3,2011,2011,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,Value,33.6,33.6,...,0,0,0,0,0,0,0,0,0,0
4,2011,2011,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,Value,32.8,32.8,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53382,2016,2016,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,Value,13.3,13.3,...,0,0,0,0,0,0,0,0,0,0
53383,2016,2016,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,Value,25.3,25.3,...,0,0,0,0,0,0,0,0,0,0
53384,2016,2016,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,Value,18.3,18.3,...,0,0,0,0,0,0,0,0,0,1
53385,2016,2016,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,Value,24.1,24.1,...,0,0,0,0,1,0,0,0,0,0
53386,2016,2016,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,Value,30.3,30.3,...,0,0,0,0,0,1,0,0,0,0

In [11]:
datanew=data2.drop(['LocationDesc','Datasource','Class','Topic','DataValueTypeID','Question','ClassID','TopicID','Data_Value_Type','StratificationCategory1','Stratification1','StratificationCategoryId1','StratificationID1'], axis=1)
datanew

,YearStart,YearEnd,Data_Value,Data_Value_Alt,Low_Confidence_Limit,High_Confidence_Limit,Sample_Size,GeoLocation,QuestionID,LocationID,...,StratificationID1_MALE,StratificationID1_OVERALL,StratificationID1_RACE2PLUS,StratificationID1_RACEASN,StratificationID1_RACEBLK,StratificationID1_RACEHIS,StratificationID1_RACEHPI,StratificationID1_RACENAA,StratificationID1_RACEOTH,StratificationID1_RACEWHT
0,2011,2011,32.0,32.0,30.5,33.5,7304.0,"(32.84057112200048, -86.63186076199969)",Q036,1,...,0,1,0,0,0,0,0,0,0,0
1,2011,2011,32.3,32.3,29.9,34.7,2581.0,"(32.84057112200048, -86.63186076199969)",Q036,1,...,1,0,0,0,0,0,0,0,0,0
2,2011,2011,31.8,31.8,30.0,33.6,4723.0,"(32.84057112200048, -86.63186076199969)",Q036,1,...,0,0,0,0,0,0,0,0,0,0
3,2011,2011,33.6,33.6,29.9,37.6,1153.0,"(32.84057112200048, -86.63186076199969)",Q036,1,...,0,0,0,0,0,0,0,0,0,0
4,2011,2011,32.8,32.8,30.2,35.6,2402.0,"(32.84057112200048, -86.63186076199969)",Q036,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53382,2016,2016,13.3,13.3,8.0,21.2,212.0,"(18.335765, -64.896335)",Q047,78,...,0,0,0,0,0,0,0,0,0,0
53383,2016,2016,25.3,25.3,16.4,37.0,137.0,"(18.335765, -64.896335)",Q047,78,...,0,0,0,0,0,0,0,0,0,0
53384,2016,2016,18.3,18.3,10.8,29.2,154.0,"(18.335765, -64.896335)",Q047,78,...,0,0,0,0,0,0,0,0,0,1
53385,2016,2016,24.1,24.1,19.9,28.9,820.0,"(18.335765, -64.896335)",Q047,78,...,0,0,0,0,1,0,0,0,0,0
53386,2016,2016,30.3,30.3,20.2,42.9,178.0,"(18.335765, -64.896335)",Q047,78,...,0,0,0,0,0,1,0,0,0,0